# Welcome to Section 1: Download data

# COLLECTION OF TOP 20 DATA AT 2021/10/07
---

# Table of Contents
### [1. Introduction](#intro)
### [2. Import packages and modules](#import)
### [3. Bitcoin](#first)
### [4. Etherium](#second)
### [5. Binance coin](#third)
### [6. Cardano ](#fourth)
### [7. Tether](#fifth)
### [8. XRP](#sixth)
### [9. Solana](#seventh)
### [10. Polkadot](#eighth)
### [11. USD coin](#ninth)
### [12. Dogecoin](#tenth)
### [13. Terra](#eleventh)
### [14. Uniswap ](#twelfth)
### [15. Avalanche](#thirteenth)
### [16. Binance USD](#fourteenth)
### [17. Chainlink ](#fiftheenth)
### [18. Litecoin](#sixteenth)
### [19. Algorand](#seventeenth)
### [20. Bitcoin cash](#eighteenth)
### [21. Wrapped Bitcoin](#nineteenth)
### [22. SHIBA INU](#twentieth)

---

### 1. Introduction

#### Step 1: Download data
In this Notebook:
- Collected data from top 20 assets from coinmarketcap.
- The columns collected are Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
- The combination of Selenium and Beautifulsoup was used for webscraping

### 2. Import packages and modules

In [3]:
# importing libraries
from selenium import webdriver
import pandas as pd


from bs4 import BeautifulSoup
import requests

### 3. Bitcoin

In [459]:
# using selenium
# Establish chrome driver and go to report site URL
url = 'https://coinmarketcap.com/currencies/bitcoin/markets/'
driver = webdriver.Chrome()
driver.get(url)

In [460]:
#using beautiful soup
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')

In [461]:
# scraping the table needed from the website page
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [462]:
table_rows = table.find_all('tr')

In [463]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

16
['Binance', 'Coinbase Exchange', 'FTX', 'Huobi Global', 'Binance', 'KuCoin', 'Binance', 'Gate.io', 'Bitfinex', 'FTX', 'Coincheck', 'Kraken', 'bitFlyer', 'Kraken', 'Binance', 'Binance']

In [464]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

16
['BTC/USDT', 'BTC/USD', 'BTC/USD', 'BTC/USDT', 'BTC/BUSD', 'BTC/USDT', 'ETH/BTC', 'BTC/USDT', 'BTC/USD', 'BTC/USDT', 'BTC/JPY', 'XBT/USD', 'BTC/JPY', 'XBT/EUR', 'FTM/BTC', 'BTC/EUR']

In [465]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

16
['$54,176.97', '$54,192.24', '$54,206.00', '$54,180.86', '$54,170.22', '$54,177.23', '$54,153.77', '$54,175.85', '$54,194.00', '$54,187.33', '$54,133.56', '$54,181.40', '$54,162.05', '$54,106.69', '$54,153.77', '$53,598.48']

In [466]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

16
['$32,765,052.19', '$15,566,600.74', '$32,582,316.58', '$12,851,257.48', '$10,465,988.97', '$16,394,320.39', '$8,014,812.58', '$2,009,221.75', '$12,843,396.75', '$19,324,433.97', '$2,768,519.10', '$43,477,625.07', '$7,692,080.87', '$32,141,217.74', '$219,798.72', '$2,228,529.36']

In [467]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

16
['$22,878,508.04', '$12,963,925.83', '$34,453,757.36', '$10,516,856.39', '$10,621,280.85', '$9,115,899.32', '$3,388,725.58', '$2,521,215.00', '$26,009,444.38', '$43,089,123.68', '$1,594,436.67', '$39,626,961.69', '$3,532,870.59', '$31,870,007.67', '$450,674.01', '$1,638,032.34']

In [468]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

16
['$3,087,910,337', '$938,243,056', '$823,296,173', '$722,588,633', '$695,095,015', '$588,563,339', '$379,749,614', '$318,720,195', '$289,880,956', '$276,588,938', '$221,315,203', '$188,879,135', '$162,104,251', '$159,793,217', '$143,516,756', '$133,274,604']

In [469]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

16
['8.19%', '2.49%', '2.18%', '1.92%', '1.84%', '1.56%', '1.01%', '0.85%', '0.77%', '0.73%', '0.59%', '0.50%', '0.43%', '0.42%', '0.38%', '0.35%']

In [470]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

16
['High', 'High', 'Low', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [471]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

16
['897', '883', '929', '934', '874', '931', '865', '790', '802', '870', '553', '874', '396', '829', '925', '840']

In [472]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

16
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [473]:
df1 = pd.DataFrame()
df1['source'] = source
df1['pairs'] = pairs
df1['price'] = price
df1['plus_2_Depth'] = plus_2_Depth
df1['minus_2_Depth'] = minus_2_Depth
df1['volume'] = volume
df1['volume_perc'] = volume_perc
df1['confidence'] = confidence
df1['liquidity'] = liquidity
df1['updated'] = updated

df1.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,BTC/USDT,"$54,176.97","$32,765,052.19","$22,878,508.04","$3,087,910,337",8.19%,High,897,Recently
1,Coinbase Exchange,BTC/USD,"$54,192.24","$15,566,600.74","$12,963,925.83","$938,243,056",2.49%,High,883,Recently
2,FTX,BTC/USD,"$54,206.00","$32,582,316.58","$34,453,757.36","$823,296,173",2.18%,Low,929,Recently
3,Huobi Global,BTC/USDT,"$54,180.86","$12,851,257.48","$10,516,856.39","$722,588,633",1.92%,Low,934,Recently
4,Binance,BTC/BUSD,"$54,170.22","$10,465,988.97","$10,621,280.85","$695,095,015",1.84%,High,874,Recently

In [474]:
# saving the pandas dataframe locally as csv format
df1.to_csv("Bitcoin.csv")

### 4. Ethereum

In [475]:
# Establish chrome driver and go to report site URL
url2 = 'https://coinmarketcap.com/currencies/ethereum/markets/'
driver = webdriver.Chrome()
driver.implicitly_wait(30)
driver.get(url2)

In [476]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [477]:
table_rows = table.find_all('tr')

In [478]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

15
['Binance', 'Coinbase Exchange', 'Huobi Global', 'Binance', 'KuCoin', 'FTX', 'Binance', 'Gate.io', 'Binance', 'FTX', 'Bithumb', 'Bitfinex', 'Kraken', 'Binance.US', 'bitFlyer']

In [479]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

15
['ETH/USDT', 'ETH/USD', 'ETH/USDT', 'ETH/BUSD', 'ETH/USDT', 'ETH/USD', 'ETH/BTC', 'ETH/USDT', 'ETH/EUR', 'ETH/USDT', 'ETH/KRW', 'ETH/USD', 'ETH/USD', 'ETH/USD', 'ETH/JPY']

In [480]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

15
['$3,623.20', '$3,623.85', '$3,622.43', '$3,623.37', '$3,621.86', '$3,622.80', '$3,621.97', '$3,622.43', '$3,584.95', '$3,622.05', '$3,690.86', '$3,622.90', '$3,624.27', '$3,624.62', '$3,614.53']

In [481]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

15
['$20,845,383.77', '$18,448,539.30', '$6,788,393.98', '$7,248,389.84', '$7,443,777.44', '$6,732,702.83', '$7,778,229.48', '$1,974,723.03', '$1,764,272.15', '$2,321,873.40', '$3,442,615.34', '$17,437,520.79', '$25,017,416.26', '$2,739,542.69', '$3,079,693.82']

In [482]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

15
['$10,308,998.30', '$10,674,239.66', '$7,592,518.36', '$4,176,977.84', '$4,726,888.85', '$5,727,247.12', '$4,022,190.77', '$1,973,786.70', '$1,100,127.50', '$1,931,449.60', '$2,400,280.66', '$14,988,055.54', '$23,839,785.85', '$2,847,233.73', '$1,611,101.98']

In [483]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

15
['$1,759,607,382', '$689,267,994', '$680,514,210', '$600,983,988', '$424,328,692', '$384,282,281', '$379,975,922', '$255,028,633', '$130,305,356', '$103,389,299', '$87,903,843', '$85,858,063', '$84,713,064', '$81,072,235', '$66,871,989']

In [484]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

15
['9.25%', '3.62%', '3.58%', '3.16%', '2.23%', '2.02%', '2.00%', '1.34%', '0.69%', '0.54%', '0.46%', '0.45%', '0.45%', '0.43%', '0.35%']

In [485]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

15
['High', 'High', 'Low', 'High', 'High', 'Moderate', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [486]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

15
['860', '862', '877', '838', '869', '863', '870', '768', '646', '854', '344', '669', '763', '629', '310']

In [487]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

15
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [488]:
df2 = pd.DataFrame()
df2['source'] = source
df2['pairs'] = pairs
df2['price'] = price
df2['plus_2_Depth'] = plus_2_Depth
df2['minus_2_Depth'] = minus_2_Depth
df2['volume'] = volume
df2['volume_perc'] = volume_perc
df2['confidence'] = confidence
df2['liquidity'] = liquidity
df2['updated'] = updated

df2.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,ETH/USDT,"$3,623.20","$20,845,383.77","$10,308,998.30","$1,759,607,382",9.25%,High,860,Recently
1,Coinbase Exchange,ETH/USD,"$3,623.85","$18,448,539.30","$10,674,239.66","$689,267,994",3.62%,High,862,Recently
2,Huobi Global,ETH/USDT,"$3,622.43","$6,788,393.98","$7,592,518.36","$680,514,210",3.58%,Low,877,Recently
3,Binance,ETH/BUSD,"$3,623.37","$7,248,389.84","$4,176,977.84","$600,983,988",3.16%,High,838,Recently
4,KuCoin,ETH/USDT,"$3,621.86","$7,443,777.44","$4,726,888.85","$424,328,692",2.23%,High,869,Recently

In [489]:
# saving the pandas dataframe locally as csv file format
df2.to_csv("Etherium.csv")

### 5. Binance coin

In [490]:
# Establish chrome driver and go to report site URL
url3 = 'https://coinmarketcap.com/currencies/binance-coin/markets/'
driver = webdriver.Chrome()
driver.get(url3)

In [491]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [492]:
table_rows = table.find_all('tr')

In [493]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

15
['Binance', 'Binance', 'Binance', 'FTX', 'Gate.io', 'Binance.US', 'FTX', 'KuCoin', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance']

In [494]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

15
['BNB/USDT', 'BNB/BUSD', 'BNB/BTC', 'BNB/USD', 'BNB/USDT', 'BNB/USD', 'BNB/USDT', 'BNB/USDT', 'BNB/ETH', 'DOT/BNB', 'LUNA/BNB', 'FTM/BNB', 'BNB/EUR', 'CAKE/BNB', 'SOL/BNB']

In [495]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

15
['$443.48', '$443.49', '$443.72', '$444.01', '$443.72', '$444.07', '$443.84', '$443.71', '$443.84', '$443.48', '$443.48', '$443.48', '$438.93', '$443.48', '$443.48']

In [496]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

15
['$8,859,345.83', '$3,491,539.90', '$1,030,163.68', '$2,524,834.74', '$739,558.15', '$1,053,272.82', '$2,047,894.57', '$1,575,721.68', '$303,082.56', '$133,815.82', '$30,698.39', '$64,027.07', '$297,733.63', '$172,884.76', '$114,388.16']

In [497]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

15
['$5,103,339.24', '$1,540,758.03', '$1,208,880.08', '$2,600,863.40', '$937,593.57', '$734,269.10', '$2,535,709.75', '$899,568.47', '$1,297,666.21', '$228,417.62', '$178,021.44', '$76,019.05', '$224,109.81', '$157,487.16', '$447,846.53']

In [498]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

15
['$516,453,082', '$154,262,927', '$88,314,357', '$69,034,122', '$54,784,693', '$40,554,826', '$36,021,135', '$26,995,802', '$24,122,834', '$16,068,429', '$12,698,266', '$11,878,317', '$11,399,426', '$9,177,463', '$7,594,427']

In [499]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

15
['25.94%', '7.75%', '4.44%', '3.47%', '2.75%', '2.04%', '1.81%', '1.36%', '1.21%', '0.81%', '0.64%', '0.60%', '0.57%', '0.46%', '0.38%']

In [500]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

15
['High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [501]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

15
['570', '525', '636', '713', '440', '647', '617', '552', '532', '658', '804', '890', '841', '734', '643']

In [502]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

15
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [503]:
df3 = pd.DataFrame()
df3['source'] = source
df3['pairs'] = pairs
df3['price'] = price
df3['plus_2_Depth'] = plus_2_Depth
df3['minus_2_Depth'] = minus_2_Depth
df3['volume'] = volume
df3['volume_perc'] = volume_perc
df3['confidence'] = confidence
df3['liquidity'] = liquidity
df3['updated'] = updated

df3.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,BNB/USDT,$443.48,"$8,859,345.83","$5,103,339.24","$516,453,082",25.94%,High,570,Recently
1,Binance,BNB/BUSD,$443.49,"$3,491,539.90","$1,540,758.03","$154,262,927",7.75%,High,525,Recently
2,Binance,BNB/BTC,$443.72,"$1,030,163.68","$1,208,880.08","$88,314,357",4.44%,High,636,Recently
3,FTX,BNB/USD,$444.01,"$2,524,834.74","$2,600,863.40","$69,034,122",3.47%,High,713,Recently
4,Gate.io,BNB/USDT,$443.72,"$739,558.15","$937,593.57","$54,784,693",2.75%,High,440,Recently

In [504]:
# saving the pandas dataframe locally as csv file format
df3.to_csv("Binance_coin.csv")

### 6. Cardano

In [505]:
# Establish chrome driver and go to report site URL
url4 = 'https://coinmarketcap.com/currencies/cardano/markets/'
driver = webdriver.Chrome()
driver.get(url4)

In [506]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [507]:
table_rows = table.find_all('tr')

In [508]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Coinbase Exchange', 'Binance', 'Binance', 'Huobi Global', 'Binance.US', 'Gate.io', 'KuCoin', 'Kraken', 'Binance', 'Coinbase Exchange', 'Binance', 'Kraken', 'Coinbase Exchange']

In [509]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['ADA/USDT', 'ADA/USD', 'ADA/BTC', 'ADA/BUSD', 'ADA/USDT', 'ADA/USD', 'ADA/USDT', 'ADA/USDT', 'ADA/USD', 'ADA/EUR', 'ADA/BTC', 'ADA/TRY', 'ADA/EUR', 'ADA/EUR']

In [510]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$2.30', '$2.30', '$2.30', '$2.30', '$2.30', '$2.30', '$2.30', '$2.30', '$2.30', '$2.27', '$2.29', '$2.29', '$2.30', '$2.29']

In [511]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$3,735,825.24', '$2,579,600.52', '$1,027,921.18', '$1,303,067.28', '$1,710,224.01', '$1,442,610.87', '$800,027.47', '$2,533,413.80', '$2,395,283.23', '$720,424.14', '$445,230.69', '$261,518.64', '$1,395,610.36', '$504,546.35']

In [512]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$4,551,968.78', '$2,837,264.94', '$893,475.49', '$1,334,903.21', '$1,622,451.87', '$1,335,382.51', '$923,911.65', '$1,709,555.31', '$3,317,171.71', '$567,149.94', '$547,814.82', '$266,267.94', '$1,279,007.23', '$682,815.78']

In [513]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$587,962,066', '$309,190,148', '$122,837,715', '$120,301,123', '$111,400,165', '$66,761,768', '$64,765,152', '$61,630,529', '$36,112,523', '$31,509,004', '$24,905,914', '$22,858,707', '$22,670,110', '$21,694,152']

In [514]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['17.82%', '9.37%', '3.72%', '3.65%', '3.38%', '2.02%', '1.96%', '1.87%', '1.09%', '0.95%', '0.75%', '0.69%', '0.69%', '0.66%']

In [515]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'High', 'High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [516]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['901', '674', '670', '790', '572', '906', '391', '559', '650', '611', '394', '656', '632', '356']

In [517]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [518]:
df4 = pd.DataFrame()
df4['source'] = source
df4['pairs'] = pairs
df4['price'] = price
df4['plus_2_Depth'] = plus_2_Depth
df4['minus_2_Depth'] = minus_2_Depth
df4['volume'] = volume
df4['volume_perc'] = volume_perc
df4['confidence'] = confidence
df4['liquidity'] = liquidity
df4['updated'] = updated

df4.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,ADA/USDT,$2.30,"$3,735,825.24","$4,551,968.78","$587,962,066",17.82%,High,901,Recently
1,Coinbase Exchange,ADA/USD,$2.30,"$2,579,600.52","$2,837,264.94","$309,190,148",9.37%,High,674,Recently
2,Binance,ADA/BTC,$2.30,"$1,027,921.18","$893,475.49","$122,837,715",3.72%,High,670,Recently
3,Binance,ADA/BUSD,$2.30,"$1,303,067.28","$1,334,903.21","$120,301,123",3.65%,High,790,Recently
4,Huobi Global,ADA/USDT,$2.30,"$1,710,224.01","$1,622,451.87","$111,400,165",3.38%,Low,572,Recently

In [519]:
# saving the pandas dataframe locally as csv file format
df4.to_csv("Cardano.csv")

### 7. Tether

In [4]:
# Establish chrome driver and go to report site URL
url5 = 'https://coinmarketcap.com/currencies/tether/markets/'
driver = webdriver.Chrome()
driver.get(url5)

In [521]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [522]:
table_rows = table.find_all('tr')

In [523]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

12
['Binance', 'Binance', 'Binance', 'Huobi Global', 'Binance', 'Binance', 'Binance', 'Huobi Global', 'Binance', 'Huobi Global', 'Binance', 'KuCoin']

In [524]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

12
['SHIB/USDT', 'BTC/USDT', 'ETH/USDT', 'SHIB/USDT', 'BUSD/USDT', 'BTCST/USDT', 'FTM/USDT', 'BTC/USDT', 'DOT/USDT', 'ETH/USDT', 'ADA/USDT', 'BTC/USDT']

In [525]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

12
['$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00']

In [526]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

12
['$783,575.72', '$33,356,054.70', '$20,845,383.77', '$335,595.19', '$56,408,764.33', '$178,456.37', '$1,115,692.52', '$13,951,076.67', '$2,108,189.13', '$6,788,393.98', '$3,730,993.68', '$9,798,968.95']

In [527]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

12
['$910,094.68', '$22,191,694.81', '$10,308,998.30', '$511,395.63', '$59,194,305.24', '$297,970.03', '$1,332,985.84', '$12,869,701.74', '$2,053,608.18', '$7,592,518.36', '$4,546,081.70', '$10,802,601.92']

In [528]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

12
['$6,110,680,673', '$3,086,793,068', '$1,759,607,382', '$1,486,774,602', '$1,198,213,384', '$1,093,044,827', '$1,087,603,813', '$723,912,497', '$696,906,036', '$680,514,210', '$589,618,475', '$588,729,159']

In [529]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

12
['6.58%', '3.32%', '1.89%', '1.60%', '1.29%', '1.18%', '1.17%', '0.78%', '0.75%', '0.73%', '0.63%', '0.63%']

In [530]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

12
['High', 'High', 'High', 'Low', 'High', 'High', 'High', 'Low', 'High', 'Low', 'High', 'High']

In [531]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

12
['874', '892', '860', '274', '960', '800', '692', '939', '525', '877', '893', '900']

In [532]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

12
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [533]:
df5 = pd.DataFrame()
df5['source'] = source
df5['pairs'] = pairs
df5['price'] = price
df5['plus_2_Depth'] = plus_2_Depth
df5['minus_2_Depth'] = minus_2_Depth
df5['volume'] = volume
df5['volume_perc'] = volume_perc
df5['confidence'] = confidence
df5['liquidity'] = liquidity
df5['updated'] = updated

df5.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,SHIB/USDT,$1.00,"$783,575.72","$910,094.68","$6,110,680,673",6.58%,High,874,Recently
1,Binance,BTC/USDT,$1.00,"$33,356,054.70","$22,191,694.81","$3,086,793,068",3.32%,High,892,Recently
2,Binance,ETH/USDT,$1.00,"$20,845,383.77","$10,308,998.30","$1,759,607,382",1.89%,High,860,Recently
3,Huobi Global,SHIB/USDT,$1.00,"$335,595.19","$511,395.63","$1,486,774,602",1.60%,Low,274,Recently
4,Binance,BUSD/USDT,$1.00,"$56,408,764.33","$59,194,305.24","$1,198,213,384",1.29%,High,960,Recently

In [534]:
# saving the pandas dataframe locally as csv file format
df5.to_csv("Tether.csv")

### 8. XRP

In [535]:
# Establish chrome driver and go to report site URL
url6 = 'https://coinmarketcap.com/currencies/xrp/markets/'
driver = webdriver.Chrome()
driver.get(url6)

In [536]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [537]:
table_rows = table.find_all('tr')

In [538]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Huobi Global', 'Bithumb', 'KuCoin', 'Gate.io', 'Binance', 'Binance', 'FTX', 'Bitstamp', 'Bitstamp', 'Kraken', 'Binance', 'Bitfinex', 'Huobi Global']

In [539]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['XRP/USDT', 'XRP/USDT', 'XRP/KRW', 'XRP/USDT', 'XRP/USDT', 'XRP/BUSD', 'XRP/BTC', 'XRP/USD', 'XRP/USD', 'XRP/EUR', 'XRP/EUR', 'XRP/TRY', 'XRP/USD', 'XRP/BTC']

In [540]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$1.07', '$1.07', '$1.10', '$1.07', '$1.07', '$1.08', '$1.07', '$1.08', '$1.07', '$1.07', '$1.07', '$1.07', '$1.07', '$1.07']

In [541]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$4,202,205.01', '$2,747,179.83', '$1,585,585.75', '$1,994,537.91', '$687,228.41', '$782,105.75', '$589,073.65', '$3,647,320.21', '$1,986,408.73', '$799,756.13', '$1,383,249.95', '$254,758.26', '$1,467,711.73', '$294,068.38']

In [542]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$3,796,986.21', '$1,278,106.34', '$1,710,575.24', '$1,639,920.24', '$882,520.98', '$886,628.54', '$993,907.24', '$7,352,858.71', '$2,043,011.06', '$707,599.97', '$1,797,224.19', '$193,412.06', '$2,128,561.25', '$337,801.76']

In [543]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$450,194,634', '$117,153,899', '$82,697,977', '$68,999,637', '$61,235,020', '$46,460,111', '$43,093,416', '$39,714,176', '$20,585,984', '$10,923,189', '$9,928,767', '$9,896,935', '$9,852,696', '$8,428,167']

In [544]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['13.94%', '3.63%', '2.56%', '2.14%', '1.90%', '1.44%', '1.33%', '1.23%', '0.64%', '0.34%', '0.31%', '0.31%', '0.31%', '0.26%']

In [545]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [546]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['763', '621', '285', '714', '534', '511', '614', '743', '351', '305', '485', '840', '427', '395']

In [547]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [548]:
df6 = pd.DataFrame()
df6['source'] = source
df6['pairs'] = pairs
df6['price'] = price
df6['plus_2_Depth'] = plus_2_Depth
df6['minus_2_Depth'] = minus_2_Depth
df6['volume'] = volume
df6['volume_perc'] = volume_perc
df6['confidence'] = confidence
df6['liquidity'] = liquidity
df6['updated'] = updated

df6.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,XRP/USDT,$1.07,"$4,202,205.01","$3,796,986.21","$450,194,634",13.94%,High,763,Recently
1,Huobi Global,XRP/USDT,$1.07,"$2,747,179.83","$1,278,106.34","$117,153,899",3.63%,Low,621,Recently
2,Bithumb,XRP/KRW,$1.10,"$1,585,585.75","$1,710,575.24","$82,697,977",2.56%,High,285,Recently
3,KuCoin,XRP/USDT,$1.07,"$1,994,537.91","$1,639,920.24","$68,999,637",2.14%,High,714,Recently
4,Gate.io,XRP/USDT,$1.07,"$687,228.41","$882,520.98","$61,235,020",1.90%,High,534,Recently

In [549]:
# saving the pandas dataframe locally as csv file format
df6.to_csv("XRP.csv")

### 9. Solana

In [550]:
# Establish chrome driver and go to report site URL
url7 = 'https://coinmarketcap.com/currencies/solana/markets/'
driver = webdriver.Chrome()
driver.get(url7)

In [551]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [552]:
table_rows = table.find_all('tr')

In [553]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

15
['Binance', 'Coinbase Exchange', 'FTX', 'Binance', 'Binance', 'Huobi Global', 'Binance.US', 'FTX', 'KuCoin', 'Binance', 'Bitfinex', 'Coinbase Exchange', 'Coinbase Exchange', 'FTX US', 'Gate.io']

In [554]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

15
['SOL/USDT', 'SOL/USD', 'SOL/USD', 'SOL/BUSD', 'SOL/BTC', 'SOL/USDT', 'SOL/USD', 'SOL/USDT', 'SOL/USDT', 'SOL/TRY', 'SOL/USD', 'SOL/BTC', 'SOL/EUR', 'SOL/USD', 'SOL/USDT']

In [555]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

15
['$157.44', '$157.66', '$157.60', '$157.40', '$157.38', '$157.58', '$157.53', '$157.59', '$157.56', '$156.89', '$157.64', '$157.19', '$157.18', '$157.04', '$157.36']

In [556]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

15
['$4,323,442.43', '$2,216,139.61', '$2,344,805.54', '$1,529,574.68', '$545,179.21', '$678,688.70', '$888,588.33', '$1,348,330.21', '$1,461,641.60', '$369,059.07', '$1,623,062.32', '$631,809.44', '$554,834.18', '$1,317,730.52', '$1,031,442.68']

In [557]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

15
['$2,387,636.58', '$2,166,895.31', '$1,978,666.58', '$1,157,004.68', '$853,931.50', '$1,458,035.45', '$1,483,710.89', '$1,123,542.60', '$927,677.55', '$113,005.25', '$3,111,314.72', '$778,845.66', '$545,682.03', '$1,244,013.67', '$969,241.32']

In [558]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

15
['$525,883,948', '$277,461,684', '$150,728,766', '$133,099,983', '$111,368,368', '$64,666,533', '$64,369,217', '$38,916,628', '$31,979,160', '$29,678,544', '$27,624,288', '$21,912,921', '$21,053,671', '$16,423,727', '$15,096,427']

In [559]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

15
['19.80%', '10.45%', '5.68%', '5.01%', '4.19%', '2.43%', '2.42%', '1.47%', '1.20%', '1.12%', '1.04%', '0.83%', '0.79%', '0.62%', '0.57%']

In [560]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

15
['High', 'High', 'Moderate', 'High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Moderate', 'High']

In [561]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

15
['622', '575', '493', '760', '552', '469', '782', '430', '418', '765', '335', '350', '372', '223', '346']

In [562]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

15
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [563]:
df7 = pd.DataFrame()
df7['source'] = source
df7['pairs'] = pairs
df7['price'] = price
df7['plus_2_Depth'] = plus_2_Depth
df7['minus_2_Depth'] = minus_2_Depth
df7['volume'] = volume
df7['volume_perc'] = volume_perc
df7['confidence'] = confidence
df7['liquidity'] = liquidity
df7['updated'] = updated

df7.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,SOL/USDT,$157.44,"$4,323,442.43","$2,387,636.58","$525,883,948",19.80%,High,622,Recently
1,Coinbase Exchange,SOL/USD,$157.66,"$2,216,139.61","$2,166,895.31","$277,461,684",10.45%,High,575,Recently
2,FTX,SOL/USD,$157.60,"$2,344,805.54","$1,978,666.58","$150,728,766",5.68%,Moderate,493,Recently
3,Binance,SOL/BUSD,$157.40,"$1,529,574.68","$1,157,004.68","$133,099,983",5.01%,High,760,Recently
4,Binance,SOL/BTC,$157.38,"$545,179.21","$853,931.50","$111,368,368",4.19%,High,552,Recently

In [564]:
# saving the pandas dataframe locally as csv file format
df7.to_csv("Solana.csv")

### 10. Polkadot

In [565]:
# Establish chrome driver and go to report site URL
url8 = 'https://coinmarketcap.com/currencies/polkadot-new/markets/'
driver = webdriver.Chrome()
driver.get(url8)

In [566]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [567]:
table_rows = table.find_all('tr')

In [568]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

13
['Binance', 'Huobi Global', 'Coinbase Exchange', 'Binance', 'Binance', 'Gate.io', 'KuCoin', 'Kraken', 'Bithumb', 'Kraken', 'Bitfinex', 'Binance', 'Huobi Global']

In [569]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

13
['DOT/USDT', 'DOT/USDT', 'DOT/USD', 'DOT/BTC', 'DOT/BUSD', 'DOT/USDT', 'DOT/USDT', 'DOT/USD', 'DOT/KRW', 'DOT/EUR', 'DOT/USD', 'DOT/BNB', 'DOT/BTC']

In [570]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

13
['$34.55', '$34.54', '$34.65', '$34.54', '$34.55', '$34.57', '$34.55', '$34.58', '$35.17', '$34.54', '$34.58', '$34.61', '$34.55']

In [571]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

13
['$2,986,592.29', '$1,748,038.25', '$1,817,750.16', '$482,656.15', '$778,122.28', '$503,359.78', '$978,174.63', '$3,478,708.08', '$618,892.51', '$1,744,139.37', '$786,568.99', '$113,433.61', '$372,110.93']

In [572]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

13
['$1,742,932.41', '$1,308,780.93', '$1,501,383.80', '$433,445.62', '$658,418.44', '$737,838.78', '$1,035,254.69', '$2,946,949.57', '$758,753.75', '$1,072,554.66', '$6,188,264.23', '$166,143.77', '$405,872.33']

In [573]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

13
['$702,466,645', '$198,078,721', '$115,483,690', '$110,191,228', '$80,508,484', '$72,666,015', '$57,222,507', '$53,126,474', '$50,549,750', '$19,970,912', '$19,253,611', '$16,183,245', '$15,810,555']

In [574]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

13
['25.62%', '7.22%', '4.21%', '4.02%', '2.94%', '2.65%', '2.09%', '1.94%', '1.84%', '0.73%', '0.70%', '0.59%', '0.58%']

In [575]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

13
['High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Moderate']

In [576]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

13
['842', '570', '499', '801', '846', '396', '493', '569', '215', '508', '351', '754', '359']

In [577]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

13
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [578]:
df8 = pd.DataFrame()
df8['source'] = source
df8['pairs'] = pairs
df8['price'] = price
df8['plus_2_Depth'] = plus_2_Depth
df8['minus_2_Depth'] = minus_2_Depth
df8['volume'] = volume
df8['volume_perc'] = volume_perc
df8['confidence'] = confidence
df8['liquidity'] = liquidity
df8['updated'] = updated

df8.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,DOT/USDT,$34.55,"$2,986,592.29","$1,742,932.41","$702,466,645",25.62%,High,842,Recently
1,Huobi Global,DOT/USDT,$34.54,"$1,748,038.25","$1,308,780.93","$198,078,721",7.22%,Low,570,Recently
2,Coinbase Exchange,DOT/USD,$34.65,"$1,817,750.16","$1,501,383.80","$115,483,690",4.21%,High,499,Recently
3,Binance,DOT/BTC,$34.54,"$482,656.15","$433,445.62","$110,191,228",4.02%,High,801,Recently
4,Binance,DOT/BUSD,$34.55,"$778,122.28","$658,418.44","$80,508,484",2.94%,High,846,Recently

In [579]:
# saving the pandas dataframe locally as csv file format
df8.to_csv("Polkadot.csv")

### 11. USD coin

In [580]:
# Establish chrome driver and go to report site URL
url9 = 'https://coinmarketcap.com/currencies/usd-coin/markets/'
driver = webdriver.Chrome()
driver.get(url9)

In [581]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [582]:
table_rows = table.find_all('tr')

In [583]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

12
['Binance', 'Binance', 'Binance', 'Binance', 'Uniswap (V2)', 'Coinbase Exchange', 'Uniswap (V2)', 'Coinbase Exchange', 'Coinbase Exchange', 'Kraken', 'Coinbase Exchange', 'Kraken']

In [584]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

12
['USDC/USDT', 'BTC/USDC', 'USDC/BUSD', 'ETH/USDC', 'USDC/WETH', 'USDC/EUR', 'RAD/USDC', 'BTC/USDC', 'ETH/USDC', 'USDC/USD', 'USDT/USDC', 'USDC/EUR']

In [585]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

12
['$1.00', '$1', '$1', '$1', '$0.9985', '$0.997', '$0.9999', '$1', '$1', '$1.00', '$0.9999', '$0.9987']

In [586]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

12
['$33,912,931.66', '$2,942,350.36', '$5,795,698.50', '$1,671,912.63', '-', '$1,762,362.21', '-', '$2,037,882.61', '$2,452,428.87', '$19,727,584.00', '$472,972.10', '$1,297,166.66']

In [587]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

12
['$9,654,717.91', '$1,714,302.51', '$5,151,305.43', '$1,208,167.94', '-', '$626,598.36', '-', '$1,859,489.57', '$2,750,949.15', '$3,456,481.56', '$626,999.09', '$1,031,438.70']

In [588]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

12
['$199,687,097', '$83,633,683', '$67,866,566', '$45,849,966', '$40,198,255', '$37,631,285', '$32,376,960', '$31,532,443', '$26,475,428', '$22,714,392', '$12,914,106', '$12,109,947']

In [589]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

12
['6.33%', '2.65%', '2.15%', '1.45%', '1.27%', '1.19%', '1.03%', '1.00%', '0.84%', '0.72%', '0.41%', '0.38%']

In [590]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

12
['High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [591]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

12
['983', '656', '984', '508', '916', '272', '-', '632', '506', '900', '845', '678']

In [592]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

12
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [593]:
df9 = pd.DataFrame()
df9['source'] = source
df9['pairs'] = pairs
df9['price'] = price
df9['plus_2_Depth'] = plus_2_Depth
df9['minus_2_Depth'] = minus_2_Depth
df9['volume'] = volume
df9['volume_perc'] = volume_perc
df9['confidence'] = confidence
df9['liquidity'] = liquidity
df9['updated'] = updated

df9.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,USDC/USDT,$1.00,"$33,912,931.66","$9,654,717.91","$199,687,097",6.33%,High,983,Recently
1,Binance,BTC/USDC,$1,"$2,942,350.36","$1,714,302.51","$83,633,683",2.65%,High,656,Recently
2,Binance,USDC/BUSD,$1,"$5,795,698.50","$5,151,305.43","$67,866,566",2.15%,High,984,Recently
3,Binance,ETH/USDC,$1,"$1,671,912.63","$1,208,167.94","$45,849,966",1.45%,High,508,Recently
4,Uniswap (V2),USDC/WETH,$0.9985,-,-,"$40,198,255",1.27%,High,916,Recently

In [594]:
# saving the pandas dataframe locally as csv file format
df9.to_csv("USD_coin.csv")

### 12. Dogecoin

In [595]:
# Establish chrome driver and go to report site URL
url10 = 'https://coinmarketcap.com/currencies/dogecoin/markets/'
driver = webdriver.Chrome()
driver.get(url10)

In [596]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [597]:
table_rows = table.find_all('tr')

In [598]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Coinbase Exchange', 'Huobi Global', 'FTX', 'FTX', 'Binance', 'Gate.io', 'Bithumb', 'Binance', 'Binance', 'Binance.US', 'FTX US', 'KuCoin', 'FTX US']

In [599]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['DOGE/USDT', 'DOGE/USD', 'DOGE/USDT', 'DOGE/USD', 'DOGE/USDT', 'DOGE/BUSD', 'DOGE/USDT', 'DOGE/KRW', 'DOGE/BTC', 'DOGE/TRY', 'DOGE/USD', 'DOGE/USDT', 'DOGE/USDT', 'DOGE/USD']

In [600]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$0.2456', '$0.2463', '$0.2455', '$0.2456', '$0.2456', '$0.2454', '$0.2456', '$0.2502', '$0.2456', '$0.2447', '$0.2455', '$0.2455', '$0.2456', '$0.2463']

In [601]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$1,913,468.59', '$2,289,991.98', '$1,224,932.85', '$954,586.22', '$1,021,126.66', '$551,011.43', '$449,969.76', '$651,812.58', '$1,068,886.67', '$332,853.73', '$845,636.99', '$592,461.83', '$1,597,687.55', '$724,517.13']

In [602]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$1,884,035.24', '$1,786,695.88', '$4,596,030.53', '$1,116,945.83', '$1,082,091.53', '$494,077.38', '$949,450.38', '$267,605.91', '$1,111,285.46', '$246,669.22', '$588,957.62', '$706,021.42', '$715,083.74', '$646,970.10']

In [603]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$560,586,223', '$157,204,018', '$154,349,511', '$134,298,576', '$84,954,101', '$75,372,131', '$74,969,412', '$63,245,266', '$61,186,766', '$60,463,327', '$49,838,597', '$43,482,780', '$42,808,458', '$40,764,520']

In [604]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['17.74%', '4.97%', '4.88%', '4.25%', '2.69%', '2.38%', '2.37%', '2.00%', '1.94%', '1.91%', '1.58%', '1.38%', '1.35%', '1.29%']

In [605]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'High', 'Low', 'Moderate', 'Moderate', 'High', 'High', 'High', 'High', 'High', 'High', 'Low', 'High', 'Moderate']

In [606]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['668', '378', '465', '533', '392', '651', '447', '258', '561', '807', '838', '267', '445', '261']

In [607]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [608]:
df10 = pd.DataFrame()
df10['source'] = source
df10['pairs'] = pairs
df10['price'] = price
df10['plus_2_Depth'] = plus_2_Depth
df10['minus_2_Depth'] = minus_2_Depth
df10['volume'] = volume
df10['volume_perc'] = volume_perc
df10['confidence'] = confidence
df10['liquidity'] = liquidity
df10['updated'] = updated

df10.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,DOGE/USDT,$0.2456,"$1,913,468.59","$1,884,035.24","$560,586,223",17.74%,High,668,Recently
1,Coinbase Exchange,DOGE/USD,$0.2463,"$2,289,991.98","$1,786,695.88","$157,204,018",4.97%,High,378,Recently
2,Huobi Global,DOGE/USDT,$0.2455,"$1,224,932.85","$4,596,030.53","$154,349,511",4.88%,Low,465,Recently
3,FTX,DOGE/USD,$0.2456,"$954,586.22","$1,116,945.83","$134,298,576",4.25%,Moderate,533,Recently
4,FTX,DOGE/USDT,$0.2456,"$1,021,126.66","$1,082,091.53","$84,954,101",2.69%,Moderate,392,Recently

In [609]:
# saving the pandas dataframe locally as csv file format
df10.to_csv("Dogecoin.csv")

### 13. Terra

In [610]:
# Establish chrome driver and go to report site URL
url11 = 'https://coinmarketcap.com/currencies/terra-luna/markets/'
driver = webdriver.Chrome()
driver.get(url11)

In [611]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [612]:
table_rows = table.find_all('tr')

In [613]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

12
['Binance', 'KuCoin', 'Huobi Global', 'Gate.io', 'Binance', 'Binance', 'Bitfinex', 'Bitfinex', 'Huobi Global', 'Binance', 'KuCoin', 'Huobi Global']

In [614]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

12
['LUNA/USDT', 'LUNA/USDT', 'LUNA/USDT', 'LUNA/USDT', 'LUNA/BUSD', 'LUNA/BTC', 'LUNA/USD', 'LUNA/UST', 'LUNA/BTC', 'LUNA/EUR', 'LUNA/BTC', 'LUNA/HT']

In [615]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

12
['$46.26', '$46.24', '$46.25', '$46.27', '$46.20', '$46.22', '$46.26', '$46.35', '$46.24', '$45.86', '$46.23', '$46.33']

In [616]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

12
['$604,542.55', '$5,508,119.93', '$640,603.25', '$534,351.91', '$644,058.83', '$242,013.27', '-', '-', '$670,932.63', '$179,773.41', '$1,433,665.29', '$52,478.76']

In [617]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

12
['$1,889,212.59', '$3,814,136.74', '$223,228.23', '$539,761.69', '$735,722.77', '$791,815.39', '-', '-', '$177,695.93', '$268,775.50', '$246,964.65', '$65,332.87']

In [618]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

12
['$315,005,397', '$185,509,851', '$123,286,888', '$82,963,581', '$82,286,437', '$73,918,640', '$72,943,834', '$45,770,442', '$38,667,129', '$24,774,138', '$24,202,292', '$22,378,299']

In [619]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

12
['19.26%', '11.34%', '7.54%', '5.07%', '5.03%', '4.52%', '4.46%', '2.80%', '2.36%', '1.51%', '1.48%', '1.37%']

In [620]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

12
['High', 'Moderate', 'Low', 'Moderate', 'High', 'High', 'N/A', 'N/A', 'Low', 'High', 'High', 'Low']

In [621]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

12
['715', '401', '331', '291', '610', '948', '-', '-', '309', '655', '235', '176']

In [622]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

12
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [623]:
df11 = pd.DataFrame()
df11['source'] = source
df11['pairs'] = pairs
df11['price'] = price
df11['plus_2_Depth'] = plus_2_Depth
df11['minus_2_Depth'] = minus_2_Depth
df11['volume'] = volume
df11['volume_perc'] = volume_perc
df11['confidence'] = confidence
df11['liquidity'] = liquidity
df11['updated'] = updated

df11.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,LUNA/USDT,$46.26,"$604,542.55","$1,889,212.59","$315,005,397",19.26%,High,715,Recently
1,KuCoin,LUNA/USDT,$46.24,"$5,508,119.93","$3,814,136.74","$185,509,851",11.34%,Moderate,401,Recently
2,Huobi Global,LUNA/USDT,$46.25,"$640,603.25","$223,228.23","$123,286,888",7.54%,Low,331,Recently
3,Gate.io,LUNA/USDT,$46.27,"$534,351.91","$539,761.69","$82,963,581",5.07%,Moderate,291,Recently
4,Binance,LUNA/BUSD,$46.20,"$644,058.83","$735,722.77","$82,286,437",5.03%,High,610,Recently

In [624]:
# saving the pandas dataframe locally as csv file format
df11.to_csv("Terra.csv")

### 14. Uniswap

In [625]:
# Establish chrome driver and go to report site URL
url12 = 'https://coinmarketcap.com/currencies/uniswap/markets/'
driver = webdriver.Chrome()
driver.get(url12)

In [626]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [627]:
table_rows = table.find_all('tr')

In [628]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

15
['Binance', 'Huobi Global', 'Bithumb', 'Coinbase Exchange', 'Binance', 'Gate.io', 'FTX', 'Binance', 'Binance.US', 'Coinbase Exchange', 'KuCoin', 'Binance.US', 'Binance', 'Bitfinex', 'FTX']

In [629]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

15
['UNI/USDT', 'UNI/USDT', 'UNI/KRW', 'UNI/USD', 'UNI/BTC', 'UNI/USDT', 'UNI/USD', 'UNI/BUSD', 'UNI/USD', 'UNI/BTC', 'UNI/USDT', 'UNI/USDT', 'UNI/BNB', 'UNI/USD', 'UNI/USDT']

In [630]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

15
['$25.88', '$25.87', '$26.35', '$25.87', '$25.84', '$25.87', '$25.88', '$25.88', '$25.85', '$25.97', '$25.88', '$25.90', '$25.86', '$25.88', '$25.86']

In [631]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

15
['$676,540.92', '$848,344.74', '$360,643.01', '$913,625.88', '$237,704.48', '$660,419.53', '$539,174.03', '$291,136.88', '$581,136.01', '$411,266.06', '$578,355.09', '$305,145.97', '$60,953.57', '$983,980.77', '$289,902.75']

In [632]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

15
['$671,765.87', '$560,771.24', '$482,910.85', '$952,303.09', '$320,747.58', '$712,600.59', '$363,288.84', '$256,184.77', '$318,766.45', '$490,909.76', '$783,733.80', '$277,447.93', '$125,270.07', '$1,777,044.50', '$308,554.33']

In [633]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

15
['$55,958,492', '$39,918,228', '$28,945,241', '$25,626,005', '$9,598,097', '$8,859,676', '$6,313,650', '$5,981,045', '$5,310,596', '$4,787,840', '$2,982,362', '$2,965,757', '$2,924,310', '$2,860,395', '$2,770,184']

In [634]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

15
['13.28%', '9.47%', '6.87%', '6.08%', '2.28%', '2.10%', '1.50%', '1.42%', '1.26%', '1.14%', '0.71%', '0.70%', '0.69%', '0.68%', '0.66%']

In [635]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

15
['High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [636]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

15
['571', '480', '221', '467', '689', '371', '412', '764', '872', '424', '285', '706', '603', '289', '304']

In [637]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

15
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [638]:
df12 = pd.DataFrame()
df12['source'] = source
df12['pairs'] = pairs
df12['price'] = price
df12['plus_2_Depth'] = plus_2_Depth
df12['minus_2_Depth'] = minus_2_Depth
df12['volume'] = volume
df12['volume_perc'] = volume_perc
df12['confidence'] = confidence
df12['liquidity'] = liquidity
df12['updated'] = updated

df12.head()

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,UNI/USDT,$25.88,"$676,540.92","$671,765.87","$55,958,492",13.28%,High,571,Recently
1,Huobi Global,UNI/USDT,$25.87,"$848,344.74","$560,771.24","$39,918,228",9.47%,Low,480,Recently
2,Bithumb,UNI/KRW,$26.35,"$360,643.01","$482,910.85","$28,945,241",6.87%,High,221,Recently
3,Coinbase Exchange,UNI/USD,$25.87,"$913,625.88","$952,303.09","$25,626,005",6.08%,High,467,Recently
4,Binance,UNI/BTC,$25.84,"$237,704.48","$320,747.58","$9,598,097",2.28%,High,689,Recently

In [639]:
# saving the pandas dataframe locally as csv file format
df12.to_csv("Uniswap.csv")

### 15. Avalanche

In [640]:
# Establish chrome driver and go to report site URL
url13 = 'https://coinmarketcap.com/currencies/avalanche/markets/'
driver = webdriver.Chrome()
driver.get(url13)

In [641]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [642]:
table_rows = table.find_all('tr')

In [643]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Binance', 'Binance', 'Binance', 'Gate.io', 'Coinbase Exchange', 'Huobi Global', 'KuCoin', 'Bitfinex', 'Binance', 'KuCoin', 'Bitfinex', 'Binance', 'Coinbase Exchange']

In [644]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['AVAX/USDT', 'AVAX/TRY', 'AVAX/BTC', 'AVAX/BUSD', 'AVAX/USDT', 'AVAX/USD', 'AVAX/USDT', 'AVAX/USDT', 'AVAX/USD', 'AVAX/EUR', 'AVAX/BTC', 'AVAX/UST', 'AVAX/BNB', 'AVAX/EUR']

In [645]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$61.49', '$61.28', '$61.40', '$61.51', '$61.50', '$61.60', '$61.50', '$61.54', '$61.50', '$60.89', '$61.36', '$61.49', '$61.56', '$61.20']

In [646]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$1,551,112.54', '$465,869.11', '$468,943.43', '$375,441.84', '$390,769.00', '$670,629.04', '$393,427.34', '$555,911.97', '-', '$99,002.55', '$72,727.71', '-', '$24,188.99', '$80,132.15']

In [647]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$1,015,686.87', '$209,208.59', '$606,895.15', '$269,882.62', '$686,048.24', '$531,428.86', '$338,363.25', '$389,738.66', '-', '$70,730.86', '$103,625.89', '-', '$44,850.78', '$93,870.35']

In [648]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$291,040,833', '$53,142,668', '$44,896,178', '$44,654,931', '$35,232,717', '$25,667,416', '$25,058,667', '$18,872,839', '$3,343,955', '$3,106,721', '$2,171,887', '$1,717,028', '$1,632,986', '$1,064,686']

In [649]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['32.74%', '5.98%', '5.05%', '5.02%', '3.96%', '2.89%', '2.82%', '2.12%', '0.38%', '0.35%', '0.24%', '0.19%', '0.18%', '0.12%']

In [650]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'High', 'High', 'High', 'High', 'High', 'Low', 'High', 'N/A', 'High', 'High', 'N/A', 'High', 'High']

In [651]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['507', '646', '854', '568', '397', '322', '347', '290', '-', '904', '201', '-', '714', '180']

In [652]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [653]:
df13 = pd.DataFrame()
df13['source'] = source
df13['pairs'] = pairs
df13['price'] = price
df13['plus_2_Depth'] = plus_2_Depth
df13['minus_2_Depth'] = minus_2_Depth
df13['volume'] = volume
df13['volume_perc'] = volume_perc
df13['confidence'] = confidence
df13['liquidity'] = liquidity
df13['updated'] = updated

display(df13.head())

# saving the pandas dataframe locally as csv file format
df13.to_csv("Avalanche.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,AVAX/USDT,$61.49,"$1,551,112.54","$1,015,686.87","$291,040,833",32.74%,High,507,Recently
1,Binance,AVAX/TRY,$61.28,"$465,869.11","$209,208.59","$53,142,668",5.98%,High,646,Recently
2,Binance,AVAX/BTC,$61.40,"$468,943.43","$606,895.15","$44,896,178",5.05%,High,854,Recently
3,Binance,AVAX/BUSD,$61.51,"$375,441.84","$269,882.62","$44,654,931",5.02%,High,568,Recently
4,Gate.io,AVAX/USDT,$61.50,"$390,769.00","$686,048.24","$35,232,717",3.96%,High,397,Recently

### 16. Binance USD

In [654]:
# Establish chrome driver and go to report site URL
url14 = 'https://coinmarketcap.com/currencies/binance-usd/markets/'
driver = webdriver.Chrome()
driver.get(url14)

In [655]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [656]:
table_rows = table.find_all('tr')

In [657]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

16
['Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance.US', 'Binance', 'Binance', 'Binance', 'Binance', 'Binance']

In [658]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

16
['SHIB/BUSD', 'BUSD/USDT', 'BTC/BUSD', 'ETH/BUSD', 'BTCST/BUSD', 'BNB/BUSD', 'FTM/BUSD', 'SOL/BUSD', 'RAD/BUSD', 'ADA/BUSD', 'SHIB/BUSD', 'SLP/BUSD', 'LUNA/BUSD', 'DOT/BUSD', 'DOGE/BUSD', 'USDC/BUSD']

In [659]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

16
['$1.00', '$0.9999', '$1.00', '$1.00', '$1.00', '$1.00', '$0.9997', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$0.9999', '$1.00', '$0.9999', '$1.00']

In [660]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

16
['$368,044.41', '$54,701,072.49', '$9,948,903.21', '$8,016,641.03', '$359,756.63', '$3,394,128.48', '$362,014.27', '$1,376,483.09', '$95,112.72', '$1,628,334.23', '$78,858.82', '$246,105.15', '$644,058.83', '$747,947.27', '$558,677.26', '$5,750,995.79']

In [661]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

16
['$586,079.85', '$60,214,997.19', '$6,849,695.82', '$4,806,287.39', '$64,273.36', '$1,338,122.78', '$235,429.66', '$999,192.61', '$136,355.35', '$1,399,038.35', '$106,632.63', '$185,734.20', '$735,722.77', '$783,706.55', '$512,283.76', '$5,927,301.86']

In [662]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

16
['$1,263,671,990', '$1,195,848,367', '$695,501,017', '$602,339,261', '$511,974,232', '$152,704,020', '$139,908,543', '$132,192,656', '$125,120,299', '$120,726,289', '$88,563,657', '$83,473,162', '$82,286,437', '$80,412,381', '$75,269,969', '$68,243,913']

In [663]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

16
['15.58%', '14.74%', '8.58%', '7.43%', '6.31%', '1.88%', '1.73%', '1.63%', '1.54%', '1.49%', '1.09%', '1.03%', '1.01%', '0.99%', '0.93%', '0.84%']

In [664]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

16
['High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [665]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

16
['908', '979', '860', '815', '704', '542', '871', '886', '796', '629', '802', '885', '891', '781', '501', '981']

In [666]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

16
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [667]:
df14 = pd.DataFrame()
df14['source'] = source
df14['pairs'] = pairs
df14['price'] = price
df14['plus_2_Depth'] = plus_2_Depth
df14['minus_2_Depth'] = minus_2_Depth
df14['volume'] = volume
df14['volume_perc'] = volume_perc
df14['confidence'] = confidence
df14['liquidity'] = liquidity
df14['updated'] = updated

display(df14.head())

# saving the pandas dataframe locally as csv file format
df14.to_csv("Binance_USD.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,SHIB/BUSD,$1.00,"$368,044.41","$586,079.85","$1,263,671,990",15.58%,High,908,Recently
1,Binance,BUSD/USDT,$0.9999,"$54,701,072.49","$60,214,997.19","$1,195,848,367",14.74%,High,979,Recently
2,Binance,BTC/BUSD,$1.00,"$9,948,903.21","$6,849,695.82","$695,501,017",8.58%,High,860,Recently
3,Binance,ETH/BUSD,$1.00,"$8,016,641.03","$4,806,287.39","$602,339,261",7.43%,High,815,Recently
4,Binance,BTCST/BUSD,$1.00,"$359,756.63","$64,273.36","$511,974,232",6.31%,High,704,Recently

### 17. Chainlink

In [668]:
# Establish chrome driver and go to report site URL
url15 = 'https://coinmarketcap.com/currencies/chainlink/markets/'
driver = webdriver.Chrome()
driver.get(url15)

In [669]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [670]:
table_rows = table.find_all('tr')

In [671]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Coinbase Exchange', 'Huobi Global', 'Binance', 'FTX', 'Binance', 'FTX', 'Gate.io', 'Kraken', 'KuCoin', 'Binance.US', 'FTX US', 'Coinbase Exchange', 'Binance']

In [672]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['LINK/USDT', 'LINK/USD', 'LINK/USDT', 'LINK/BTC', 'LINK/USD', 'LINK/BUSD', 'LINK/USDT', 'LINK/USDT', 'LINK/USD', 'LINK/USDT', 'LINK/USD', 'LINK/USD', 'LINK/EUR', 'LINK/ETH']

In [673]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$27.30', '$27.32', '$27.30', '$27.28', '$27.31', '$27.31', '$27.31', '$27.32', '$27.37', '$27.31', '$27.30', '$27.29', '$27.27', '$27.30']

In [674]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$1,479,518.58', '$2,085,338.66', '$762,978.97', '$601,084.69', '$3,827,846.80', '$504,796.78', '$2,774,138.56', '$659,783.17', '$1,765,420.21', '$609,709.17', '$627,139.19', '$1,708,965.16', '$369,946.26', '$150,605.48']

In [675]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$1,420,708.61', '$2,858,770.92', '$716,976.45', '$478,267.15', '$4,081,705.35', '$549,834.41', '$2,347,698.73', '$840,912.99', '$1,584,009.12', '$754,067.66', '$665,187.53', '$1,705,435.12', '$389,387.69', '$285,404.13']

In [676]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$167,812,270', '$87,124,176', '$54,317,882', '$30,362,427', '$28,320,649', '$20,776,176', '$20,147,622', '$19,832,793', '$11,713,208', '$10,763,022', '$10,677,916', '$8,070,398', '$7,311,407', '$7,213,960']

In [677]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['14.06%', '7.30%', '4.55%', '2.54%', '2.37%', '1.74%', '1.69%', '1.66%', '0.98%', '0.90%', '0.89%', '0.68%', '0.61%', '0.60%']

In [678]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [679]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['885', '519', '490', '847', '545', '840', '485', '314', '523', '352', '699', '404', '373', '927']

In [680]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [681]:
df15 = pd.DataFrame()
df15['source'] = source
df15['pairs'] = pairs
df15['price'] = price
df15['plus_2_Depth'] = plus_2_Depth
df15['minus_2_Depth'] = minus_2_Depth
df15['volume'] = volume
df15['volume_perc'] = volume_perc
df15['confidence'] = confidence
df15['liquidity'] = liquidity
df15['updated'] = updated

display(df15.head())

# saving the pandas dataframe locally as csv file format
df15.to_csv("Chainlink.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,LINK/USDT,$27.30,"$1,479,518.58","$1,420,708.61","$167,812,270",14.06%,High,885,Recently
1,Coinbase Exchange,LINK/USD,$27.32,"$2,085,338.66","$2,858,770.92","$87,124,176",7.30%,High,519,Recently
2,Huobi Global,LINK/USDT,$27.30,"$762,978.97","$716,976.45","$54,317,882",4.55%,Low,490,Recently
3,Binance,LINK/BTC,$27.28,"$601,084.69","$478,267.15","$30,362,427",2.54%,High,847,Recently
4,FTX,LINK/USD,$27.31,"$3,827,846.80","$4,081,705.35","$28,320,649",2.37%,High,545,Recently

### 18. Litecoin

In [682]:
# Establish chrome driver and go to report site URL
url16 = 'https://coinmarketcap.com/currencies/litecoin/markets/'
driver = webdriver.Chrome()
driver.get(url16)

In [683]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [684]:
table_rows = table.find_all('tr')

In [685]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Coinbase Exchange', 'Huobi Global', 'FTX', 'FTX', 'Binance', 'Bithumb', 'Bitfinex', 'Gate.io', 'Binance', 'KuCoin', 'FTX US', 'Coinbase Exchange', 'FTX US']

In [686]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['LTC/USDT', 'LTC/USD', 'LTC/USDT', 'LTC/USD', 'LTC/USDT', 'LTC/BTC', 'LTC/KRW', 'LTC/USD', 'LTC/USDT', 'LTC/BUSD', 'LTC/USDT', 'LTC/USD', 'LTC/BTC', 'LTC/USDT']

In [687]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$180.26', '$180.34', '$180.36', '$179.94', '$179.98', '$180.32', '$183.57', '$180.09', '$180.26', '$180.21', '$180.15', '$179.83', '$180.27', '$180.35']

In [688]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$1,006,331.59', '$1,527,419.01', '$680,741.90', '$3,129,959.68', '$2,610,912.76', '$399,063.31', '$287,198.75', '$2,328,011.22', '$754,412.43', '$484,225.35', '$822,180.99', '$2,975,580.30', '$432,144.67', '$3,371,746.11']

In [689]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$1,285,322.21', '$1,187,416.42', '$704,339.15', '$2,874,532.31', '$2,625,926.82', '$665,599.39', '$395,201.52', '$2,311,619.37', '$824,372.11', '$644,014.93', '$735,218.28', '$2,933,154.99', '$545,810.37', '$3,246,450.83']

In [690]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$160,059,428', '$94,365,740', '$85,865,354', '$60,142,273', '$45,510,529', '$37,944,805', '$27,484,266', '$26,473,010', '$24,489,150', '$21,195,092', '$16,513,623', '$16,341,317', '$13,154,122', '$12,814,141']

In [691]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['4.38%', '2.58%', '2.35%', '1.64%', '1.24%', '1.04%', '0.75%', '0.72%', '0.67%', '0.58%', '0.45%', '0.45%', '0.36%', '0.35%']

In [692]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [693]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['513', '574', '481', '658', '483', '580', '205', '428', '353', '754', '442', '334', '377', '325']

In [694]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [695]:
df16 = pd.DataFrame()
df16['source'] = source
df16['pairs'] = pairs
df16['price'] = price
df16['plus_2_Depth'] = plus_2_Depth
df16['minus_2_Depth'] = minus_2_Depth
df16['volume'] = volume
df16['volume_perc'] = volume_perc
df16['confidence'] = confidence
df16['liquidity'] = liquidity
df16['updated'] = updated

display(df16.head())

# saving the pandas dataframe locally as csv file format
df16.to_csv("Litecoin.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,LTC/USDT,$180.26,"$1,006,331.59","$1,285,322.21","$160,059,428",4.38%,High,513,Recently
1,Coinbase Exchange,LTC/USD,$180.34,"$1,527,419.01","$1,187,416.42","$94,365,740",2.58%,High,574,Recently
2,Huobi Global,LTC/USDT,$180.36,"$680,741.90","$704,339.15","$85,865,354",2.35%,Low,481,Recently
3,FTX,LTC/USD,$179.94,"$3,129,959.68","$2,874,532.31","$60,142,273",1.64%,High,658,Recently
4,FTX,LTC/USDT,$179.98,"$2,610,912.76","$2,625,926.82","$45,510,529",1.24%,High,483,Recently

### 19. Algorand

In [696]:
# Establish chrome driver and go to report site URL
url17 = 'https://coinmarketcap.com/currencies/algorand/markets/'
driver = webdriver.Chrome()
driver.get(url17)

In [697]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [698]:
table_rows = table.find_all('tr')

In [699]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

14
['Binance', 'Coinbase Exchange', 'Huobi Global', 'Binance', 'Binance.US', 'Binance', 'KuCoin', 'Kraken', 'Coinbase Exchange', 'Coinbase Exchange', 'Gate.io', 'Coinbase Exchange', 'Huobi Global', 'Kraken']

In [700]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

14
['ALGO/USDT', 'ALGO/USD', 'ALGO/USDT', 'ALGO/BUSD', 'ALGO/USD', 'ALGO/BTC', 'ALGO/USDT', 'ALGO/USD', 'ALGO/BTC', 'ALGO/EUR', 'ALGO/USDT', 'ALGO/GBP', 'ALGO/BTC', 'ALGO/EUR']

In [701]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

14
['$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89', '$1.89']

In [702]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

14
['$554,424.76', '$1,634,853.18', '$341,033.77', '$269,764.65', '$352,624.21', '$107,987.33', '$1,037,496.73', '$496,989.33', '$301,086.02', '$380,516.31', '$570,474.20', '$373,689.93', '$66,962.43', '$341,423.16']

In [703]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

14
['$909,390.22', '$2,347,139.09', '$286,474.56', '$371,105.67', '$391,861.83', '$367,600.64', '$859,752.92', '$711,637.60', '$435,364.06', '$364,488.99', '$620,278.10', '$355,666.77', '$76,619.91', '$530,883.66']

In [704]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

14
['$136,785,764', '$94,469,353', '$25,058,071', '$23,171,628', '$19,025,088', '$16,292,375', '$15,795,423', '$9,329,558', '$8,990,971', '$8,166,362', '$7,173,736', '$5,583,403', '$3,481,276', '$2,962,658']

In [705]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

14
['20.78%', '14.35%', '3.81%', '3.52%', '2.89%', '2.47%', '2.40%', '1.42%', '1.37%', '1.24%', '1.09%', '0.85%', '0.53%', '0.45%']

In [706]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

14
['High', 'High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'Moderate', 'High']

In [707]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

14
['640', '448', '366', '817', '693', '935', '309', '416', '330', '299', '321', '268', '235', '351']

In [708]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

14
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [709]:
df17 = pd.DataFrame()
df17['source'] = source
df17['pairs'] = pairs
df17['price'] = price
df17['plus_2_Depth'] = plus_2_Depth
df17['minus_2_Depth'] = minus_2_Depth
df17['volume'] = volume
df17['volume_perc'] = volume_perc
df17['confidence'] = confidence
df17['liquidity'] = liquidity
df17['updated'] = updated

display(df17.head())

# saving the pandas dataframe locally as csv file format
df17.to_csv("Algorand.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,ALGO/USDT,$1.89,"$554,424.76","$909,390.22","$136,785,764",20.78%,High,640,Recently
1,Coinbase Exchange,ALGO/USD,$1.89,"$1,634,853.18","$2,347,139.09","$94,469,353",14.35%,High,448,Recently
2,Huobi Global,ALGO/USDT,$1.89,"$341,033.77","$286,474.56","$25,058,071",3.81%,Low,366,Recently
3,Binance,ALGO/BUSD,$1.89,"$269,764.65","$371,105.67","$23,171,628",3.52%,High,817,Recently
4,Binance.US,ALGO/USD,$1.89,"$352,624.21","$391,861.83","$19,025,088",2.89%,High,693,Recently

### [20. Bitcoin cash](#eighteenth)

In [710]:
# Establish chrome driver and go to report site URL
url18 = 'https://coinmarketcap.com/currencies/bitcoin-cash/markets/'
driver = webdriver.Chrome()
driver.get(url18)

In [711]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [712]:
table_rows = table.find_all('tr')

In [713]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

13
['Binance', 'Huobi Global', 'Coinbase Exchange', 'FTX US', 'FTX US', 'FTX', 'Gate.io', 'Binance', 'Huobi Global', 'FTX US', 'Binance', 'Coinbase Exchange', 'Bithumb']

In [714]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

13
['BCH/USDT', 'BCH/USDT', 'BCH/USD', 'BCH/USD', 'BCH/USDT', 'BCH/USD', 'BCH/USDT', 'BCH/BTC', 'BCH/BTC', 'BCH/BTC', 'BCH/BUSD', 'BCH/BTC', 'BCH/KRW']

In [715]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

13
['$614.48', '$614.49', '$614.70', '$614.67', '$614.90', '$614.45', '$614.58', '$614.39', '$614.66', '$620.09', '$614.62', '$614.93', '$626.59']

In [716]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

13
['$1,115,625.02', '$571,221.12', '$1,062,361.57', '$5,022,909.92', '$5,014,833.85', '$1,607,288.00', '$600,736.29', '$434,840.53', '$205,044.05', '$4,661,488.05', '$583,164.29', '$426,854.38', '$249,955.33']

In [717]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

13
['$1,377,918.83', '$448,193.36', '$1,199,542.42', '$4,417,796.69', '$4,799,643.51', '$704,377.43', '$1,001,236.83', '$288,769.48', '$220,789.56', '$4,304,043.36', '$596,328.36', '$537,895.35', '$343,545.55']

In [718]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

13
['$98,471,785', '$54,588,097', '$30,191,851', '$29,117,210', '$26,678,106', '$16,620,776', '$12,816,942', '$12,621,293', '$10,369,479', '$9,227,140', '$9,096,393', '$8,531,471', '$6,778,153']

In [719]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

13
['6.43%', '3.57%', '1.97%', '1.90%', '1.74%', '1.09%', '0.84%', '0.82%', '0.68%', '0.60%', '0.59%', '0.56%', '0.44%']

In [720]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

13
['High', 'Low', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [721]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

13
['503', '447', '488', '365', '381', '489', '415', '672', '514', '275', '866', '279', '229']

In [722]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

13
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [723]:
df18 = pd.DataFrame()
df18['source'] = source
df18['pairs'] = pairs
df18['price'] = price
df18['plus_2_Depth'] = plus_2_Depth
df18['minus_2_Depth'] = minus_2_Depth
df18['volume'] = volume
df18['volume_perc'] = volume_perc
df18['confidence'] = confidence
df18['liquidity'] = liquidity
df18['updated'] = updated

display(df18.head())

# saving the pandas dataframe locally as csv file format
df18.to_csv("Bitcoin_Cash.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,BCH/USDT,$614.48,"$1,115,625.02","$1,377,918.83","$98,471,785",6.43%,High,503,Recently
1,Huobi Global,BCH/USDT,$614.49,"$571,221.12","$448,193.36","$54,588,097",3.57%,Low,447,Recently
2,Coinbase Exchange,BCH/USD,$614.70,"$1,062,361.57","$1,199,542.42","$30,191,851",1.97%,High,488,Recently
3,FTX US,BCH/USD,$614.67,"$5,022,909.92","$4,417,796.69","$29,117,210",1.90%,High,365,Recently
4,FTX US,BCH/USDT,$614.90,"$5,014,833.85","$4,799,643.51","$26,678,106",1.74%,High,381,Recently

### [21. Wrapped Bitcoin](#nineteenth)

In [724]:
# Establish chrome driver and go to report site URL
url19 = 'https://coinmarketcap.com/currencies/wrapped-bitcoin/markets/'
driver = webdriver.Chrome()
driver.get(url19)

In [725]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [726]:
table_rows = table.find_all('tr')

In [727]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

13
['Binance', 'FTX', 'Uniswap (V2)', 'FTX', 'Coinbase Exchange', 'Binance', 'Uniswap (V2)', 'Coinbase Exchange', 'KuCoin', 'Huobi Global', 'Uniswap (V2)', 'Kraken', 'Kraken']

In [728]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

13
['WBTC/BTC', 'WBTC/BTC', 'WBTC/WETH', 'WBTC/USD', 'WBTC/BTC', 'WBTC/ETH', 'WBTC/BADGER', 'WBTC/USD', 'WBTC/BTC', 'WBTC/BTC', 'WBTC/USDC', 'WBTC/USD', 'WBTC/EUR']

In [729]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

13
['$54,513.70', '$54,508.25', '$54,080.78', '$54,492.00', '$54,508.25', '$54,519.59', '$54,329.45', '$54,510.10', '$54,922.90', '$54,519.15', '$54,247.48', '$54,065.20', '$54,154.91']

In [730]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

13
['$10,067,325.70', '$36,479,825.59', '-', '$20,062,320.76', '$706,827.96', '$734,710.76', '-', '$190,399.17', '$6,707.78', '$2,009,472.12', '-', '$187,126.70', '$142,533.88']

In [731]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

13
['$2,858,906.08', '$37,730,170.20', '-', '$18,906,322.58', '$1,593,765.98', '$448,289.45', '-', '$179,571.89', '$839,376.08', '$93,568.79', '-', '$680,965.00', '$472,303.23']

In [732]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

13
['$24,165,903', '$11,087,747', '$5,192,359', '$3,458,531', '$3,356,385', '$2,541,567', '$2,409,546', '$734,415', '$705,148', '$275,224', '$147,627', '$137,852', '$67,567']

In [733]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

13
['6.52%', '2.99%', '1.40%', '0.93%', '0.91%', '0.69%', '0.65%', '0.20%', '0.19%', '0.07%', '0.04%', '0.04%', '0.02%']

In [734]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

13
['High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']

In [735]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

13
['728', '881', '900', '253', '635', '506', '611', '372', '108', '268', '392', '544', '476']

In [736]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

13
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [737]:
df19 = pd.DataFrame()
df19['source'] = source
df19['pairs'] = pairs
df19['price'] = price
df19['plus_2_Depth'] = plus_2_Depth
df19['minus_2_Depth'] = minus_2_Depth
df19['volume'] = volume
df19['volume_perc'] = volume_perc
df19['confidence'] = confidence
df19['liquidity'] = liquidity
df19['updated'] = updated

display(df19.head())

# saving the pandas dataframe locally as csv file format
df19.to_csv("Wrapped_Bitcoin.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,WBTC/BTC,"$54,513.70","$10,067,325.70","$2,858,906.08","$24,165,903",6.52%,High,728,Recently
1,FTX,WBTC/BTC,"$54,508.25","$36,479,825.59","$37,730,170.20","$11,087,747",2.99%,High,881,Recently
2,Uniswap (V2),WBTC/WETH,"$54,080.78",-,-,"$5,192,359",1.40%,High,900,Recently
3,FTX,WBTC/USD,"$54,492.00","$20,062,320.76","$18,906,322.58","$3,458,531",0.93%,High,253,Recently
4,Coinbase Exchange,WBTC/BTC,"$54,508.25","$706,827.96","$1,593,765.98","$3,356,385",0.91%,High,635,Recently

### [22. SHIBA INU](#twentieth)

In [738]:
# Establish chrome driver and go to report site URL
url20 = 'https://coinmarketcap.com/currencies/shiba-inu/markets/'
driver = webdriver.Chrome()
driver.get(url20)

In [739]:
#Selenium hands the page source to Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find('table', {'class':'h7vnx2-2 ecUULi cmc-table'})

#### Scraping the market table and its columns - Source, Pairs, Price, +2% Depth, -2% Depth, Volume, Volume %, Confidence, Liquidity, Updated.
---

In [740]:
table_rows = table.find_all('tr')

In [741]:
query = table.find_all('p', {'class': 'sc-1eb5slv-0 iworPT'})
source=[]

for x in query:
    try:
        source.append(x.text)
    except AttributeError:
        break    
        
print(len(source))
print(source)

12
['Binance', 'Coinbase Exchange', 'Huobi Global', 'Binance', 'Binance', 'KuCoin', 'Gate.io', 'Binance.US', 'Binance', 'Coinbase Exchange', 'Uniswap (V2)', 'Binance.US']

In [742]:
query = table.find_all('a', {'class': 'qh9zi5-0 bGASOe cmc-link'})
pairs=[]

for x in query:
    try:
        pairs.append(x.text)
    except AttributeError:
        break    
        
print(len(pairs))
print(pairs)

12
['SHIB/USDT', 'SHIB/USD', 'SHIB/USDT', 'SHIB/BUSD', 'SHIB/TRY', 'SHIB/USDT', 'SHIB/USDT', 'SHIB/USDT', 'SHIB/EUR', 'SHIB/USDT', 'SHIB/WETH', 'SHIB/BUSD']

In [743]:
price=[]

for row in table_rows[1:]:
    try:
        
        price.append(row.find_all('td')[3].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(price))
print(price)

12
['$0.00002276', '$0.00002275', '$0.00002288', '$0.00002278', '$0.00002267', '$0.0000229', '$0.00002303', '$0.0000228', '$0.00002254', '$0.00002276', '$0.00002341', '$0.00002277']

In [744]:
plus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        plus_2_Depth.append(row.find_all('td')[4].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(plus_2_Depth))
print(plus_2_Depth)

12
['$505,033.29', '$937,121.33', '$795,126.82', '$272,457.43', '$274,715.59', '$337,765.98', '$414,287.80', '$525,904.61', '$134,854.23', '$325,637.09', '-', '$18,161.33']

In [745]:
minus_2_Depth=[]

for row in table_rows[1:]:
    try:
        
        minus_2_Depth.append(row.find_all('td')[5].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(minus_2_Depth))
print(minus_2_Depth)

12
['$2,803,863.18', '$1,302,705.04', '$698,577.67', '$803,690.53', '$110,324.85', '$766,808.58', '$565,209.47', '$390,162.25', '$196,899.64', '$504,308.45', '-', '$59,846.08']

In [746]:
volume=[]

for row in table_rows[1:]:
    try:
        
        volume.append(row.find_all('td')[6].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume))
print(volume)

12
['$5,709,829,040', '$2,263,029,751', '$1,478,229,470', '$1,189,309,763', '$558,498,096', '$518,584,369', '$495,295,164', '$348,720,814', '$289,063,089', '$272,499,114', '$138,030,960', '$88,285,019']

In [747]:
volume_perc=[]

for row in table_rows[1:]:
    try:
        
        volume_perc.append(row.find_all('td')[7].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(volume_perc))
print(volume_perc)

12
['28.79%', '11.41%', '7.45%', '6.00%', '2.82%', '2.62%', '2.50%', '1.76%', '1.46%', '1.37%', '0.70%', '0.45%']

In [748]:
confidence=[]

for row in table_rows[1:]:
    try:
        
        confidence.append(row.find_all('td')[8].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(confidence))
print(confidence)

12
['High', 'Low', 'Low', 'High', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High']

In [749]:
liquidity=[]

for row in table_rows[1:]:
    try:
        
        liquidity.append(row.find_all('td')[9].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(liquidity))
print(liquidity)

12
['878', '302', '282', '507', '715', '252', '332', '522', '637', '261', '500', '547']

In [750]:
updated=[]

for row in table_rows[1:]:
    try:
        
        updated.append(row.find_all('td')[10].text)
    except AttributeError:
        break
    except IndexError:
        break
                
print(len(updated))
print(updated)

12
['Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently', 'Recently']

#### Combining all our columns into pandas Dataframe and viewing it

In [751]:
df20 = pd.DataFrame()
df20['source'] = source
df20['pairs'] = pairs
df20['price'] = price
df20['plus_2_Depth'] = plus_2_Depth
df20['minus_2_Depth'] = minus_2_Depth
df20['volume'] = volume
df20['volume_perc'] = volume_perc
df20['confidence'] = confidence
df20['liquidity'] = liquidity
df20['updated'] = updated

display(df20.head())

# saving the pandas dataframe locally as csv file format
df20.to_csv("SHIBA_INU.csv")

,source,pairs,price,plus_2_Depth,minus_2_Depth,volume,volume_perc,confidence,liquidity,updated
0,Binance,SHIB/USDT,$0.00002276,"$505,033.29","$2,803,863.18","$5,709,829,040",28.79%,High,878,Recently
1,Coinbase Exchange,SHIB/USD,$0.00002275,"$937,121.33","$1,302,705.04","$2,263,029,751",11.41%,Low,302,Recently
2,Huobi Global,SHIB/USDT,$0.00002288,"$795,126.82","$698,577.67","$1,478,229,470",7.45%,Low,282,Recently
3,Binance,SHIB/BUSD,$0.00002278,"$272,457.43","$803,690.53","$1,189,309,763",6.00%,High,507,Recently
4,Binance,SHIB/TRY,$0.00002267,"$274,715.59","$110,324.85","$558,498,096",2.82%,High,715,Recently

# Thank you, next is [03_Section 2 and 3] Notebook